*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: black;
    /* font-size: 1em; */
    border-top: 0.125em solid #D3D3D3;
    border-bottom: 0.125em solid #D3D3D3;
    margin: 1.5em auto 0.7em auto;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 20px;
}

#navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

#navigation a {
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
    margin-left: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    -o-transition: color .3s ease-out, background 1s ease-in;
    -ms-transition: color .3s ease-out, background 1s ease-in;
    -moz-transition: color .3s ease-out, background 1s ease-in;
    -webkit-transition: color .3s ease-out, background 1s ease-in;
}

#navigation a:hover,
a.current-link {
    color: black;
    border-bottom: 2px solid #d6d6d6;
}

.footer {
    /* border-top: solid 2px black; */
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

.heading {
    font-family: 'Varela Round', sans-serif;
}

.simple-link {
    color: black;
    text-decoration: none;
}

.content {
    line-height: 1.6em;
    letter-spacing: 0.01em;
    font-size: 1.1em;
}
