#back{
  position: relative;
}

#back:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/lambda.png");
		background-position: center center;
		background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

body {
  padding-top: 50px;
  height: auto;
  margin: 0px;
}

html {
  height: auto;
  margin: 0px;
}

.rachit-content {
  font-family: Palatino, serif;
  font-size: 12pt
}
