// _dark.scss
// Converted from SASS to SCSS

// Dark theme variables for site styling

// Colors
$color-bg: rgb(60, 65, 73);
$font-color: #f3f3f3;
$color-link-active: rgb(93, 87, 133);
$color-h4: red;

$color-bg-blockquote: #232527;
$color-bg-blockquote-border: #35373a;
$color-post-tease: #b3b3b3;
$color-blockquote-shadow: rgba(80, 60, 120, 0.10);
$color-blockquote-shadow2: rgba(80, 60, 120, 0.06);

$color-table-border: $color-bg-blockquote-border;