// Dark theme variables for site styling

// Colors
$color-bg: rgb(54, 54, 57)
$color-bg-blockquote: #232527
$color-bg-blockquote-border: #35373a
$color-header-border: #33363a
$color-header: #f3f3f3
$color-link-underline: $color-header
$color-link: $color-header
$color-link-active: rgb(93, 87, 133)
$color-nav-active: $color-header
$color-nav-hover: $color-header
$color-h4: #ffb4b4
$color-table-border: $color-bg-blockquote-border
$color-footnote-border: #444459
$color-publication-highlight: #fff
$color-publication-author: $color-header
$color-post-tease: #b3b3b3
$color-blockquote-shadow: rgba(80, 60, 120, 0.10)
$color-blockquote-shadow2: rgba(80, 60, 120, 0.06)

// Fonts
$font-main: 'Open Sans', sans-serif
$font-heading: 'Bebas Neue'
$font-mono: 'Source Code Pro', monospace
