// Dark theme variables for site styling

// Colors
$color-bg: #181a1b
$color-bg-blockquote: #232527
$color-bg-blockquote-border: #35373a
$color-header-border: #33363a
$color-link: #b7aaff
$color-link-underline: #a78bfa
$color-link-active: #d1b3ff
$color-header: #f3f3f3
$color-nav-active: #d1b3ff
$color-nav-hover: #fff
$color-h4: #ffb4b4
$color-table-border: #35373a
$color-footnote-border: #444459
$color-publication-highlight: #fff
$color-publication-author: $color-header
$color-post-tease: #b3b3b3
$color-blockquote-shadow: rgba(80, 60, 120, 0.10)
$color-blockquote-shadow2: rgba(80, 60, 120, 0.06)

// Fonts
$font-main: 'Open Sans', sans-serif
$font-heading: 'Bebas Neue'
$font-mono: 'Source Code Pro', monospace
