{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}

    <p class="view-all">
      <a href="{{ ($.Site.GetPage "section" "post").Permalink }}">
        {{ i18n "more_posts" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>

  </div>
  <div class="col-xs-12 col-md-8">

    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ $posts := where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil }}

    {{/* Count the number of pages posts already displayed */}}
    {{ $.Scratch.Set "counter" 0 }}

    {{ range $post := $posts }}

      {{ $.Scratch.Set "show_post" "1" }}

      {{/* If `tags_exclude` is set, exclude posts. */}}
      {{ range $key, $val := .Params.tags }}
        {{ if in $page.Params.tags_exclude $val }}
          {{ $.Scratch.Set "show_post" "0" }}
        {{end}}
      {{end}}

      {{/* If $count number of pages have already been displayed, don't display anymore */}}
      {{ if (ge ($.Scratch.Get "counter") $page.Params.count)}}
        {{ $.Scratch.Set "show_post" "0" }}
      {{ end }}

      {{ $show_post := $.Scratch.Get "show_post" }}
      {{ if ne $show_post "0" }}
        {{ $params := dict "post" . }}
        {{ partial "post_li_detailed" $params }}
        {{/* If this page is displayed, add1 to counter */}}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
      {{end}}

    {{ end }}

  </div>
</div>
