h1 {
  color: green; 
}

body h2 {
	font-style: bold;
	font-style: underline;
}

.profile {
	width : 800px;
	border : 3px solid black;
	padding : 3px ;
}
.profile .profile-pic {
	width : 100%;
	height: 100%;
}

body {
	font-family: Verdana;
}
body q{
	font-style: italic;
}

.site-nav{
	background-color: PaleVioletRed;
	font-size: 24px;
  	list-style: none;
  	padding : 0;
  	width : 200px;
}
.site-nav .site-nav-elm {
	border-bottom: 2px solid MediumVioletRed;
	padding : 5px;
}
.site-nav .site-nav-elm a{
	color : white;
	text-decoration: none;
}
.site-nav .site-nav-elm a:hover{
	text-decoration: underline;
}

.title a{
	font-size:1.6em;
	line-height:1em;
	text-decoration: none;
}

.emerald, .emerald a, .emerald a:visited{color:#27ae60}
.emerald a:hover, .amethyst a:hover .emerald{color:#2ecc71}
.amethyst, .amethyst a, .amethyst a:visited{color:#8e44ad}
.amethyst a:hover{color:#9b59b6}


.navy-blue, .navy-blue a, .navy-blue a:visited{color:#000080;} 
.blood-red, .blood-red a, .blood-red a:visited{color:#af111c;} 




