h1 {
  color: green; 
}

body h2 {
	font-style: bold;
	font-style: underline;
}

figure {
	width : 800px;
	border : 3px solid black;
	padding : 3px ;
}
figure img {
	width : 100%;
	height: 100%;
}

body {
	font-family: Verdana;
}
body q{
	font-style: italic;
}

.site-nav{
	background-color: PaleVioletRed;
	font-size: 24px;
  	list-style: none;
  	padding : 0;
  	width : 200px;
}
.site-nav .site-nav-elm {
	border-bottom: 2px solid MediumVioletRed;
	padding : 5px;
}
.site-nav .site-nav-elm a{
	color : white;
	text-decoration: none;
}
.site-nav .site-nav-elm a:hover{
	text-decoration: underline;
}

