{{ .Scratch.Set "Vincent Lee" "https://www.linkedin.com/in/vincent-lee-15685425" }}
{{ .Scratch.Set "Alexa VanHattum" "https://www.cs.cornell.edu/~avh/" }}
{{ .Scratch.Set "James Bornholt" "https://www.cs.utexas.edu/~bornholt/" }}
{{ .Scratch.Set "Samuel Thomas" "https://sgtpeacock.com/" }}
{{ .Scratch.Set "Zhijing Li" "https://tissue3.github.io/" }}
{{ .Scratch.Set "Ted Bauer" "https://tedbauer.github.io/" }}
{{ .Scratch.Set "Adrian Sampson" "http://adriansampson.net" }}
{{ .Scratch.Set "Zhiru Zhang" "http://www.csl.cornell.edu/~zhiruz/" }}
{{ .Scratch.Set "Arjun Guha" "http://people.cs.umass.edu/arjun" }}
{{ .Scratch.Set "Sam Baxter" "https://baxtersa.github.io/about/" }}
{{ .Scratch.Set "Shriram Krishnamurthi" "http://cs.brown.edu/~sk/" }}
{{ .Scratch.Set "Joe Gibbs Politz" "https://jpolitz.github.io/" }}
{{ .Scratch.Set "Jean-Baptiste Jeannin" "https://jeannin.github.io/" }}
{{ .Scratch.Set "Rian Shambaugh" "https://www.linkedin.com/in/rian-shambaugh-4b89b5a3" }}

{{ if $.Params.authors }}
  {{ $authorLen := len $.Params.authors }}
  {{ range $k, $v := $.Params.authors }}
    {{/* Add non-breaking space in author names */}}
    {{ $nbauth := delimit (split $v " ") "&nbsp;" }}
    {{- if eq . "Rachit Nigam" -}}
      <b style="color: black">Rachit&nbsp;Nigam</b>
    {{- else if $.Scratch.Get . -}}
      <a href="{{ $.Scratch.Get . }}" target="_blank" rel="noopener">
        {{- $nbauth | markdownify -}}
      </a>
    {{- else -}}
      {{- $nbauth | markdownify -}}
    {{- end -}}
    {{- if $.Params.equal_authors -}}
    {{- if index $.Params.equal_authors $k -}}
    <sup>&diams;</sup>
    {{- end -}}
    {{- end -}}
    {{- if lt $k (sub $authorLen 1) -}}, {{ end }}
  {{ end }}
{{ end }}
{{ if $.Params.equal_authors }}
<div style="font-size:0.75rem; margin-top: 0.3rem; margin-bottom: 0.5rem; color:rgb(0,0,0,0.6)">
(<sup>&diams;</sup> Equal contributors)
</div>
{{ end }}
