<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ end }}

  {{ if .Params.image_alt }}
    {{ .Scratch.Set "imageAlt" .Params.image_alt }}
  {{ end }}

  <!-- Row containing the image the title -->
  <div class="row" style="margin-bottom: 10px;">

    {{ if .Scratch.Get "image" }}
    <div class="col-xs-3" style="padding-right: 0px; display: inline-block; vertical-align: middle; float: none;">
        <a href="{{ .Permalink }}">
          {{ $img_src := urls.Parse (.Scratch.Get "image") }}
          {{ if $img_src.Scheme }}
            <img src="{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
          {{ else }}
            <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
          {{ end }}
        </a>
    </div>
    {{ end }}

    <div
      class = {{ if .Scratch.Get "image" }} "col-xs-8"  {{ else }} "col-xs-12" {{ end }}
      style="display: inline-block; vertical-align: middle; float: none;"
    >
      <a href="{{ .Permalink }}" class="article-title" itemprop="url">
        <h4 itemprop="name">
        {{ .Title }}
        {{ if .Params.subtitle }}
         {{ .Params.subtitle }}
        {{ end }}
        </h4>
      </a>
    </div>
  </div>

  <div class="pub-authors" itemprop="author">
    {{ partial "authors" . }}

    <span class="pub-conf">
    {{ .Params.publication_short | markdownify }}&nbsp;({{- .Date.Format "2006" -}})
    </span>
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
