<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ errorf "Missing image_preview for %s." .Title }}
  {{ end }}

  {{ if .Params.image_alt }}
    {{ .Scratch.Set "imageAlt" .Params.image_alt }}
  {{ else }}
    {{ errorf "Missing image_alt for %s." .Title }}
  {{ end }}

  <!-- Row containing the image the title -->
  <div class="row" style="margin-bottom: 10px;">

    <div class="col-xs-3" style="padding-right: 0px; display: inline-block; vertical-align: middle; float: none;">
        <a href="{{ .Permalink }}">
          {{ $img_src := urls.Parse (.Scratch.Get "image") }}
          {{ if $img_src.Scheme }}
            <img src="{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
          {{ else }}
            <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
          {{ end }}
        </a>
    </div>

    <div class="col-xs-8" style="display: inline-block; vertical-align: middle; float: none;">
      <a href="{{ .Permalink }}" class="article-title" itemprop="url">
        <h4 itemprop="name">
        {{ .Title }}

        {{ if .Params.subtitle }}
         {{ .Params.subtitle }}
        {{ end }}
        </h4>
      </a>
      <p class="pub-abstract" itemprop="text" style="line-height: 1.2rem;">
        {{ if .Params.abstract_short }}
          {{ .Params.abstract_short | markdownify }}
        {{ else }}
          {{ .Params.abstract | markdownify}}
        {{ end }}
      </p>
    </div>
  </div>

  <div class="pub-authors" itemprop="author">
    {{ partial "authors" . }}
  </div>

  <div class="pub-publication">
    {{ .Params.publication_short | markdownify }}
    ({{- .Date.Format "2006" -}})
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
