{# Heading with anchor link #}
{% macro anchor_heading(content, size="2") %}
<h{{size}} id="{{ content | slugify }}">
  {{ content }}
</h{{size}}>
{% endmacro anchor_heading %}

{# Contact list item #}
{% macro contact(classes, link, alt) %}

<a alt="{{ alt }}" class="unstyled-link" itemprop="sameAs" href="{{ link }}" target="_blank" rel="noopener">
  <i class="{{ classes }} contact-link-item big-icon"></i>
</a>

{% endmacro contact %}


{# Styling for Posts #}
{% macro generate_post(post) %}
<div class="blurb">
  <div class="date">{{ post.date | date(format="%b ’%y") }}</div>
  <div class="description">
    {% if post.extra.external %}
    <a href="{{ post.extra.external | safe }}">
      {% else %}
      <a href="{{ post.permalink | safe }}">
        {% endif %}
        {{ post.title | safe }}
      </a><br />
      <div class="post-tease">
        {{ post.extra.summary }}
      </div>
  </div>
</div>
{% endmacro post %}


{# Styling for News items #}
{% macro generate_news(post) %}
<div class="blurb">
  <div class="date">{{ post.date | date(format="%b ’%y") }}</div>
  <div class="description">
    {{ post.content | safe }}
  </div>
</div>
{% endmacro post %}

{# Styling for authors in publication list #}
{% macro author(name) %}

{%- if name == "Rachit Nigam" -%}
<span class="publication-highlight">{{ name }}</span>
{%- else -%}

{% set_global link = "" %}
{% for author in config.extra.author %}
{% if author.name == name %}
{% set_global link = author.link %}
{% endif %}
{% endfor %}

<span class="publication-author">
  {%- if link != "" -%}
  <!-- Link in author website if present -->
  <a href="{{ link }}" class="unstyled-link">
    {%- endif -%}
    {{ name }}
    {%- if link != "" -%}
  </a>
  {%- endif -%}
</span>

{%- endif -%}

{% endmacro author %}


{# Styling for a publication item #}
{% macro publication(pub) %}
<div class="publication">
  <div class="publication-venue">
    {% if not pub.extra.publication_short %}
    <i>Draft</i>
    {% else %}
    {{- pub.extra.publication_short -}}
    &nbsp;
    {{ pub.date | date(format="’%y") }}
    {% endif %}
  </div>
  <div class="publication-details">
    <div class="publication-title">
      {% if pub.extra.pdf %}
      <a href={{ get_url(path=pub.extra.pdf) }}>
        {% endif %}
        {{ pub.title | safe }}
        {% if pub.extra.pdf %}
      </a>
      {% endif %}
    </div>
    <div>
      {% for name in pub.extra.authors %}
      {{ m::author(name=name) }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
    {% if pub.extra.awards %}
    <!-- Award -->
    {% for award in pub.extra.awards %}
      <div>
        <i class="fa fa-medal" style="color: #d3af37;"></i>
        <b>{{ award }}</b>
      </div>
    {% endfor %}
    {% endif %}
    <div class="publication-links">
      {% set sorted_links = pub.extra.urls | sort(attribute="name") %}
      {% for link in sorted_links %}
      <span class="publication-link">
        {% if link.url is starting_with("https") %}
          {% set full_link = link.url %}
        {% else %}
          {% set full_link = get_url(path=link.url) %}
        {% endif %}
        <a class="unstyled-link" href="{{ full_link }}">
          【&#8239;{{ link.name }}&#8239;】
        </a>
      </span>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro publication %}
